<?xml version="1.0"?>
<config>
  <modules>
    <Payswitch_Theteller>
      <version>1.0.0</version>
    </Payswitch_Theteller>
  </modules>
  <global>
    <models>
      <theteller>
        <class>Payswitch_Theteller_Model</class>
      </theteller>
    </models>
    <helpers>
      <theteller>
        <class>Payswitch_Theteller_Helper</class>
      </theteller>
    </helpers>
    <blocks>
      <theteller>
        <class>Payswitch_Theteller_Block</class>
      </theteller>
    </blocks>
  </global>
  <default>
    <payment>
      <theteller>
        <model>theteller/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Theteller</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </theteller>
    </payment>
  </default>
  <frontend>
    <routers>
      <theteller>
        <use>standard</use>
        <args>
          <module>Payswitch_Theteller</module>
          <frontName>theteller</frontName>
          <frontName>theteller</frontName>
        </args>
      </theteller>
    </routers>
  </frontend>
</config>
